@font-face {
  font-family: 'Serif-Gothic';
  src: url("./serifgothicbq-extrabold.otf") format("opentype");
}

@font-face {
  font-family: 'DIGI';
  src: url("./DS-DIGII.TTF");
}

* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drum-machine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 25px;
}

.title, .subtitle {
  font-family: 'Serif-Gothic';
  color: #E4570F;
}

.drum-machine-housing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 0 30px;
}

.drum-machine-shoulder {
  width: 4%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.drum-machine-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

.drum-machine-upper-left {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.drum-machine-upper-right {
  width: 35%;
}

.drum-machine-lower {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25%;
  /* justify-content: space-between; */
}

.info-display {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tempo-display {
  font-family: 'DIGI';
  font-size: 50px;
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  background-color: #E4570F;
  width: 35%;
}

.current-sample-display {
  width: 15%;
  text-align-last: center;
  /* text-indent: 1px; */
  /* text-overflow: ''; */
  /* white-space: normal; */
  appearance: none;
  border: none;
}

.start-stop-button {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  width: 60%;
  cursor: pointer;
  background: rgb(255, 171, 113);
  background: linear-gradient(90deg, rgba(255, 171, 113, 1) 0%, rgba(255, 255, 255, 1) 28%, rgba(222, 102, 14, 1) 100%);
  border: 3px solid black;
  border-radius: 2px;
}

.start-button {
  width: 80%;
  text-align: center;
  padding: 3px;
  border-bottom: 2px solid black;
}

.edit-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  /* align-self: flex-end; */
}

.edit-button {
  height: 40%;
  width: 100%;
  border: 3px solid black;
  border-radius: 2px;
  background-color: orange;
  cursor: pointer;
}

.transport-controls {
  height: 100%;
  width: 15%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sequencer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  /* padding: 0 50px; */
}

.drum-cell {
  font-size: 17px;
  position: relative;
  width: 30px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.red {
  background-color: rgb(209, 81, 65);
}

.orange {
  background-color: rgb(223, 134, 62);
}

.yellow {
  background-color: rgb(222, 204, 92);
}

.white {
  background-color: rgb(227, 222, 193);
}

.drum-cell-button {
  width: 100%;
  height: 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.drum-cell-button:hover {
  filter: brightness(85%);
}

.indicator {
  position: relative;
  top: 5px;
  left: 10px;
  height: 10px;
  width: 10px;
  margin: 0 0 7px 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

.armed {
  background-color: red;
}

.shadow {
  height: 45px;
  width: 100%;
}