/* main color:  228, 228, 228*/

/* accent: 221, 134, 59 */

/* gray: rgb(90, 92, 100) */

@font-face {
  font-family: 'TR-909';
  src: url("./TR-909.ttf") format("truetype");
}

@font-face {
  font-family: "Digi";
  src: url("DS-DIGIB.TTF");
}

#drum-machine-header {
  font-family: 'TR-909';
  color: #E4570F;
  padding-bottom: 25px;
  width: 1000px;
}

#drum-machine-header span{
  font-size: 70%;
}

.drum-machine {
  background-color: rgba(228, 228, 228);
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  font-size: 25px;
}

.title {
  padding-left: 20px;
}

.title, .subtitle {
  font-family: 'TR-909';
  color: rgb(221, 134, 59);
}

.drum-machine-housing {
  width: 92%;
}

.drum-machine-shoulder {
  width: 4%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.drum-machine-upper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.main-controls {
  width: 100%;
}

.main-controls-left{

}

.slider-container{

}

.slider{
  
}

.drum-machine-upper-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drum-machine-lower {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25%;
  /* justify-content: space-between; */
}

.info-display {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

#tempo-display {
  text-align: center;
  font-family: 'Digi';
  color: rgb(221, 134, 59);
  background-color: rgb(90, 92, 100);
  font-size: 40px;
  width: 25%;
  cursor: pointer;
}

#sample-display {
  appearance: none;
  text-align: center;
  font-family: 'Digi';
  color: rgb(221, 134, 59);
  background-color: rgb(90, 92, 100);
  font-size: 40px;
  cursor: pointer;
}

.transport-controls {
  height: 100%;
  width: 15%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-stop-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 60%;
  cursor: pointer;
  border-radius: 2px;
}

.start-button, .stop-button, .edit-button {
  background-color: rgb(90, 92, 100);
}

.stop-button {
  background-color: rgb(90, 92, 100);
}

.edit-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  /* align-self: flex-end; */
}

.edit-button {
  height: 40%;
  width: 100%;
  border: 3px solid black;
  border-radius: 2px;
  background-color: orange;
  cursor: pointer;
}

.sequencer-tempo-knob {
  width: 100%;
}

.tempo-knob-container {}

.sequencer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 0 50px; */
}

.drum-cell {
  font-size: 17px;
  position: relative;
  width: 30px;
  height: 80px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

.drum-cell-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.drum-cell-header span{
  font-size: 14px;
}

.drum-cell-button {
  width: 100%;
  height: 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  background-color: rgba(0, 0, 0, 0.4);
}

.drum-cell-button:active ~ .drum-cell-header .indicator {
  background-color: red;
}

.drum-cell-header:active ~ span.indicator {
  background-color: rgba(0, 0, 0, 0.7);
}

.drum-cell:active .drum-cell-header {
  background-color: transparent;
}

.drum-cell-button:hover {
  filter: brightness(85%);
}

.indicator {
  height: 6px;
  width: 12px;
  background-color: rgba(0, 0, 0, 0.7);
}

.armed {
  background-color: red;
}

.shadow {
  height: 45px;
  width: 100%;
}