/* main color:  228, 228, 228*/

/* accent: 221, 134, 59 */

/* gray: rgb(90, 92, 100) */

@font-face {
  font-family: 'TR-909';
  src: url("./TR-909.ttf") format("truetype");
}

@font-face {
  font-family: "Digi";
  src: url("DS-DIGIB.TTF");
}

#drum-machine-header {
  font-family: 'TR-909';
  color: #E4570F;
  padding-bottom: 25px;
}

.drum-machine {
  background-color: rgba(228, 228, 228);
}

.shoulder{
  background-color: transparent;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 5%;
  font-size: 25px;
}

.title {
  padding-left: 20px;
}

.title, .subtitle {
  font-family: 'TR-909';
  color: rgb(221, 134, 59);
}

.drum-machine-housing {
  width: 92%;
}

.drum-machine-shoulder {
  width: 4%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.upper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.controls {
  width: 100%;
  height: 80%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.controls-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 100%;
}

#sliders {
  height: 75%;
  width: 70%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.slider-slice {
  width: 30px;
  height: 100%;
}

.slider {
  position: relative;
  top: 80%;
  left: -40%;
  transform-origin: top;
  transform: rotate(-90deg);
  margin: 0;
  display: flex;
  flex-direction: row;
}

.slider span {
  font-size: 12px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  cursor: default;
}

.slider input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  /* width: 100%; */
  /* height: 100%; */
  /* Specific width is required for Firefox. */
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 2px 5px 15px 5px #000000;
  box-shadow: inset 2px 5px 15px 5px rgba(0, 0, 0, 0.4);
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  width: 15px;
  height: 20px;
  cursor: pointer;
}

.master input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  width: 15px;
  height: 30px;
}

input[type=range]::-ms-track {
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.legend{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-midway{
  width: 100%;
  border-bottom: 2px solid black;
}

.slider-tick{
  text-align: center;
  margin-left: 20%;
  width: 60%;
  border-bottom: 2px solid black;
}

.drum-machine-upper-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-display {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

#tempo-display {
  text-align: center;
  font-family: 'Digi';
  color: rgb(221, 134, 59);
  background-color: rgb(90, 92, 100);
  font-size: 40px;
  width: 75%;
  cursor: pointer;
}

#sample-display {
  appearance: none;
  text-align: center;
  font-family: 'Digi';
  color: rgb(221, 134, 59);
  background-color: rgb(90, 92, 100);
  font-size: 40px;
  width: 25%;
  cursor: pointer;
}

.transport-controls {
  height: 100%;
  width: 15%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-stop-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 60%;
  cursor: pointer;
  border-radius: 2px;
}

.start-button, .stop-button, .edit-button {
  background-color: rgb(90, 92, 100);
}

.stop-button {
  background-color: rgb(90, 92, 100);
}

.edit-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  /* align-self: flex-end; */
}

.edit-button {
  height: 40%;
  width: 100%;
  border: 3px solid black;
  border-radius: 2px;
  background-color: orange;
  cursor: pointer;
}

#knob-container {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* #tempo-title{
  margin-top: 20px;
} */

#sequencer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 0 50px; */
}

.drum-cell {
  font-size: 17px;
  position: relative;
  width: 30px;
  height: 80px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

.drum-cell-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.drum-cell-header span {
  font-size: 14px;
}

.drum-cell-button {
  width: 100%;
  height: 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  background-color: rgba(0, 0, 0, 0.4);
}

.drum-cell-button:active~.drum-cell-header .indicator {
  background-color: red;
}

.drum-cell-header:active~span.indicator {
  background-color: rgba(0, 0, 0, 0.7);
}

.drum-cell:active .drum-cell-header {
  background-color: transparent;
}

.drum-cell-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.indicator {
  height: 6px;
  width: 12px;
  background-color: rgba(0, 0, 0, 0.7);
}

.armed {
  background-color: red;
}

.shadow {
  height: 45px;
  width: 100%;
}