input-knob {
  width: 80px;
  height: 80px;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
}

input-knob::part(rotator) {
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
}

input-knob.fallback>span.fallback {
  background: rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
}

.mark {
  color: #DD863C;
}