 input-knob {
   width: 80px;
   height: 80px;
   margin: auto;
   display: relative;
   border-radius: 100%;
   box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
   background: rgba(0, 0, 0, 0.5);
 }

 input-knob::part(rotator) {
   box-sizing: border-box;
   width: 80px;
   height: 80px;
   background: rgba(0, 0, 0, 0.5);
   /* border: 1rem double #356211; */
   /* border-bottom: 1rem solid #356211; */
   border-radius: 100%;
 }

 input-knob.fallback>span.fallback {
   display: block;
   box-sizing: border-box;
   background: #cadbbc;
   /* border: 1rem double #356211; */
   /* border-bottom: 1rem solid #356211; */
   border-radius: 100%;
   width: 10rem;
   height: 10rem;
 }

 .mark {
   display: relative;
   bottom: 100px;
   width: 100%;
   text-align: center;
   font: bold 200% monospace;
   color: #DD863C;
 }

 .monitor {
   width: 20rem;
   margin: 2rem auto 0 auto;
   text-align: center;
 }

 .progress {
   display: block;
   width: 20rem;
   margin: 2rem auto 0 auto;
   text-align: center;
 }

 footer {
   margin-top: 1rem;
   padding: 0.5rem;
   background: #fafafa;
 }